<h1>Rakugle</h1>

<%= form_tag("/", method: "get") do %>
  <%= text_field_tag(:keyword, @keyword) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @keyword then %>

  <h2>市場</h2>
  <ul>
  <% @ichiba_items.first(10).each do |item| %>
    <li><%= "#{item['itemName']}, #{item['itemPrice']} yen" %></li>
  <% end %>
  </ul>

  <h2>Books</h2>
  <ul>
  <% @books_items.first(10).each do |item| %>
    <li><%= "#{item['title']}, #{item['itemPrice']} yen" %></li>
  <% end %>
  </ul>

  <h2>Kobo</h2>
  <ul>
  <% @kobo_items.first(10).each do |item| %>
    <li><%= "#{item['Item']['title']}, #{item['Item']['itemPrice']} yen" %></li>
  <% end %>
  </ul>

  <h2>Auction</h2>
  <ul>
  <% @auction_items.first(10).each do |item| %>
    <li><%= "#{item['Item']['itemName']}, #{item['Item']['itemPrice']} yen" %></li>
  <% end %>
  </ul>

<% end %>
